ParentWorkflow.json
{
  "name": "ParentWorkflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -40,
        -120
      ],
      "id": "3fc02729-6d67-4676-9648-39e20d13c7f2",
      "name": "When chat message received",
      "webhookId": "8939e862-76f5-414c-a909-737ec62848eb"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -20,
        140
      ],
      "id": "4582211d-18aa-49a5-82d8-131d42c2e920",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "d4BlmWS9bVa28Z5N",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Prompt:\n\nYou are an assistant for a language learning platform. Your only goal is to orchestrate the flow and call the related tool.\n\nYou must stay strictly within the domain of English learning. Do not answer or engage in any conversation that is not related to the platform or learning English.\n\nBehavior rules:\n\nBegin the conversation with a warm, professional greeting and a brief introduction about how the platform helps people learn languages. Speak Turkish.\n\nIf the user asks a question about the platform (e.g. features, usage, access), respond by calling the FAQ tool to answer it automatically.\n\nOnly answer using verified information from the FAQ database if available.\n\nIf no suitable FAQ match is found, respond politely that you cannot answer that and suggest contacting support."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        520,
        -260
      ],
      "id": "b9d0d008-9b45-4e17-be51-651ebf2a2127",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "821c6644-72da-4fa5-9bf4-5016c493cbea",
              "leftValue": "={{ $json.output }}",
              "rightValue": "faq",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        -260
      ],
      "id": "d28b5ae0-d695-4741-b8a1-66f6993c40dd",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aekjd5HoAjVh38fg",
          "mode": "list",
          "cachedResultName": "Demo: RAG in n8n"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1260,
        -280
      ],
      "id": "264a4bfa-d870-47d0-a358-b7788fba4734",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "821c6644-72da-4fa5-9bf4-5016c493cbea",
              "leftValue": "={{ $json.output }}",
              "rightValue": "cevapla",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        40
      ],
      "id": "e5484043-ab17-44c3-b7b8-0ec112123dde",
      "name": "If1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=\n{{ $('When chat message received').item.json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1260,
        20
      ],
      "id": "0aab65f7-7fd0-477b-90d2-ff9dc94a3b45",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "d4BlmWS9bVa28Z5N",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "description": "call this tool to get info about the system",
        "workflowId": {
          "__rl": true,
          "value": "aekjd5HoAjVh38fg",
          "mode": "list",
          "cachedResultName": "Demo: RAG in n8n"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.chatInput }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        760,
        60
      ],
      "id": "0699299b-02c2-461e-ac57-a1d9eb43ffa9",
      "name": "Call n8n Workflow Tool"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        []
      ]
    },
    "Execute Workflow": {
      "main": [
        []
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a83c3260-0245-4295-b5ae-bc5ebf9a0ac2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33d3118021c86740b1a15c617d0d9d55d063df19d7374e00a1b8953c3734f20d"
  },
  "id": "3RdwXO1KVcxNcVOe",
  "tags": []
}